.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 40px;
  }
  
  .header__logo:hover {
    cursor: pointer;
  }
  
  @media screen and (max-width: 450px) {
    .header__logo {
      padding-left: 27px;
      margin-bottom: 31px;
      width: 104px;
      margin-top: 27px;   
    }
  }     