.profile__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 768px) {
  .profile__subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}