.profile__editButton {
  background-image: url(../../../images/EditButton.svg);
  width: 24px;
  height: 24px;
  background-color: #000;
  margin-left: 18px;
  border: 0;
  transition: opacity 0.3s;
}

.profile__editButton:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .profile__editButton {
    width: 18px;
    height: 18px;
  }
}