.entrance__signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

}


@media screen and (max-width: 321px) {
  .entrance__signup {
    margin-top: 20px;
  }
}